---
import MenuItem, { MenuLink, DropdownMenu } from "./atoms/MenuItem.astro";

export interface Props {
    items: MenuLink[] | DropdownMenu[];
}

const { items } = Astro.props;
---

<nav class="bg-pink-300 flex space-x-4">
    {
        items.map((item: MenuLink | DropdownMenu) => {
            if ("children" in item) {
                return <MenuItem title={item.title} children={item.children} />;
            }
            return (
                <MenuItem title={item.title} link={(item as MenuLink).url} />
            );
        })
    }
</nav>
