---
import Navbar from "../components/Navbar";
import type {
    MenuLink,
    DropdownMenu,
} from "../components/atoms/MenuItem";

export interface Props {
    title: string;
}

const { title } = Astro.props;

const navItems: MenuLink[] | DropdownMenu[] = [
    { title: "Home", url: "/" },
    {
        title: "Services",
        children: [
            { title: "Eyebrows", url: "/services/eyebrows" },
            { title: "Eyeliner", url: "/services/eyeliner" },
            { title: "Lips", url: "/services/lips" },
            { title: "3D Areola", url: "/services/areola" },
            { title: "Plasma Fibroblasting", url: "/services/plasma" },
            { title: "Body Art", url: "/services/bodyart" },
        ],
    } as DropdownMenu,
    { title: "Gallery", url: "/gallery" },
    { title: "About", url: "/about" },
    { title: "Contact", url: "/contact" },
];
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" /><link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        /><link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" /><link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        /><link
            href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:ital,wght@0,300;0,400;0,700;1,300&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Navbar items={navItems} client:media="(min-width: 768px)" />
        <slot />
    </body>
</html>
